
@model IEnumerable<Airport.Models.ViewModels.FlightPanelView>
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FlightNumberId)
        </th>
        <th>           
            @Html.DisplayNameFor(model => model.FlightDate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Port)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Airline)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Terminal)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.FlightStatus)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Gate)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Tickets)
        </th>
    </tr>
    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.FlightNumberId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightDate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Port)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Airline)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Terminal)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.FlightStatus)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Gate)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Tickets)
            </td>
        </tr>
    }
</table>


