@model Airport.Models.Flight

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AddFlight</title>
</head>
<body>
<div>
    @using (Html.BeginForm("AddFlight", "Home", FormMethod.Post))
    {
        <p>Номер рейса</p>
        @Html.TextBox("FlightNumber", "номер рейса")
        <p>Тип рейса (Arraival/Departure)</p>
        @Html.TextBox("FlightType", "")
        <p>Дата прибытия/отбытия</p>
        @Html.TextBox("FlightDate", "")
        <p>Город</p>
        @Html.TextBox("Port", "")
        <p>Авиалиния</p>
        @Html.TextBox("Airline", "")
        <p>Терминал</p>
        @Html.TextBox("Terminal", "")
        <p>Статус рейса</p>
        @Html.TextBox("FlightStatus", "")
        <p>Гейт</p>
        @Html.TextBox("Gate", "")
    }
</div>
</body>
</html>
