@model Airport.Models.DomainModels.Entities.Aircraft

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Aircraft</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Model)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Model)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Photo)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Photo)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SitsPlan)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SitsPlan)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FirstClassSitCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FirstClassSitCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.BusinessClassSitCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.BusinessClassSitCount)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.EconomyClassSitCount)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EconomyClassSitCount)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index")
</p>
